<ion-text class="ion-text-center">
  <h4 *ngIf="type === 'onboarding'">Which wet food do you feed {{pet?.gender === 'male' ? 'him' : pet?.gender === 'female' ? 'her' : pet?.name}}?</h4>
  <h5 *ngIf="type !== 'onboarding'">Current wet food</h5>
</ion-text>
<div class="input-container">
  <ion-item>
    <ion-searchbar placeholder="Start typing a wet food" debounce="500" [(ngModel)]="searchBar"
                   #foodSearch (ionChange)="filterList($event)" class="wet-search"
                   showCancelButton="never" (ionFocus)="onKeyboardStateChange(true)" (keyup)="closeKeyboard($event)"
    >
      <p class="large add-food-button" (click)="wetFoodCustom(searchBar)">Add</p>
    </ion-searchbar>
  </ion-item>
  <ion-item *ngIf="isItemAvailable" class="search-results-container" [class.no-autocomplete]="wetFoodsList.length === 0">
    <div class="search-results">
      <div *ngIf="wetFoodsList && wetFoodsList.length > 0">
        <ion-list >
          <ion-item *ngFor="let item of wetFoodsList" button detail="false" (click)="wetFoodClicked(item)">{{ item }}</ion-item>
        </ion-list>
      </div>
    </div>
  </ion-item>
  <ion-item class="list">
    <div class="wet-foods">
      <div class="wet-food" *ngFor="let wetFood of petWetFoods">
        <p>{{wetFood}}</p>
        <div class="delete-icon" (click)="removeItem(wetFood)"><img src="../../../../assets/pet-details/close.svg" /></div>
      </div>
    </div>
  </ion-item>
</div>
