<h5>How old is {{pet.name}}?</h5>
<app-cta type="primary smart-preset" text="6 months or younger" (click)="submit('age', '0-0.5')"></app-cta>
<app-cta type="primary smart-preset" text="6 to 12 months" (click)="submit('age', '0.5-1')"></app-cta>
<app-cta type="primary smart-preset" text="1 to 2 years" (click)="submit('age', '1-2')"></app-cta>
<app-cta type="primary smart-preset" text="3 to 5 years" (click)="submit('age', '3-5')"></app-cta>
<app-cta type="primary smart-preset" text="6 to 9 years" (click)="submit('age', '6-9')"></app-cta>
<app-cta type="primary smart-preset" text="10+ years" (click)="submit('age', '10+')"></app-cta>
