<ion-content>
  <div class="back-button">
    <app-back-cta (click)="goBack()"></app-back-cta>
  </div>
<app-homepage-header
type="secondary"
page="Terms & conditions"
></app-homepage-header>
  <section>
    <h5 class="bold">1. Lorem ipsum dolor sit amet</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit
      porta eros, eu feugiat turpis ultricies eget. Nam et tempor urna. Cras
      turpis. Morbi blandit iaculis leo, maximus tincidunt odio finibus at.
      Aenean dictum urna purus, eget lobortis nibh luctus nec. Vestibulum sed
      mattis tortor, at feugiat nulla. Sed sed mattis ante, nec tincidunt
      libero. Nulla gravida eu nisi sit amet facilisis. Vivamus a ipsum non
      sapien lobortis feugiat. Ut porta augue eget dapibus scelerisque.
    </p>
  </section>
</ion-content>
