<ion-content>
  <div class="back-button">
    <app-back-cta (click)="goBack()"></app-back-cta>
  </div>
  <app-homepage-header
    type="secondary"
    page="Marketing emails"
  ></app-homepage-header>
  <section>
    <h5 class="bold">What this means for the user</h5>
    <p>
      This is a piece of text that describes in further detail what the
      marketing emails will entail. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Morbi hendrerit porta eros, eu feugiat turpis ultricies
      eget. Nam et tempor urna. Cras sodales luctus turpis, ac hendrerit ligula.
      Vestibulum eget elementum turpis. Morbi blandit iaculis leo, maximus
      tincidunt odio finibus at. Aenean dictum urna purus, eget lobortis nibh
      luctus nec. Vestibulum sed mattis tortor, at feugiat nulla. Sed sed mattis
      ante, nec tincidunt libero. Nulla gravida eu nisi sit amet facilisis.
      Vivamus a ipsum non sapien lobortis feugiat. Ut porta augue eget dapibus
      scelerisque.
    </p>
  </section>
</ion-content>
