<div class="password-form-container">
  <form [formGroup]="childFormGroup">
    <ion-input
      id="register-password"
      #passwordInput
      class="password"
      [class.error]="!passwordValid"
      [class.success]="form.get('password').valid"
      [class.show-password]="isKeyboardOpen && showPassword"
      [class.hide-password]="isKeyboardOpen && !showPassword"
      type="{{ passwordType }}"
      formControlName="password"
      (ionBlur)="validatePassword()"
      (ionFocus)="onKeyboardStateChange(true)"
      (ionChange)="checkPassword($event)"
      (click)="togglePassword($event)"
      (keyup)="closeKeyboard($event)"
    >
    </ion-input>
  </form>
  <span
    [hidden]="isKeyboardOpen"
    [class.show]="showPassword"
    (click)="togglePassword($event)"
    class="eye"
  ></span>
</div>
<p *ngIf="!passwordValid" class="error xsmall">
  Password does not match valid criteria. Please check and try again.
</p>
<div [class.show]="showPasswordHelper" class="password-helper-wrapper">
  <div class="password-helper-container">
    <div class="password-check">
      <div class="icon-container">
        <div
          class="icon {{
            this.checkPatterns.minLength.result ? 'valid' : 'invalid'
          }}"
        ></div>
      </div>
      <p>8 characters minimum</p>
    </div>
    <div class="password-check">
      <div class="icon-container">
        <div
          class="icon {{
            this.checkPatterns.hasUppercase.result ? 'valid' : 'invalid'
          }}"
        ></div>
      </div>
      <p>One uppercase letter</p>
    </div>
    <div class="password-check">
      <div class="icon-container">
        <div
          class="icon {{
            this.checkPatterns.hasNumber.result ? 'valid' : 'invalid'
          }}"
        ></div>
      </div>
      <p>One number</p>
    </div>
  </div>
</div>
