@import '../../../theme/colours.scss';

.password-form-container {
  position: relative;
  display: flex;
  height: 48px;
  align-items: center;

  .eye {
    position: absolute;
    right: 24px;
    background-image: url("../../../assets/create-account/eye-closed.svg");
    width: 24px;
    height: 24px;
    z-index: 9999;

    &.show {
      background-image: url("../../../assets/create-account/eye-open.svg");

    }
  }
}

.password-helper-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height .5s, opacity .5s;
  animation-timing-function: ease-in-out;
  overflow: hidden;

  &.show {
    opacity: 1;
    max-height: 100vh;
  }

  .password-helper-container {
    position: relative;
    width: 100%;
    background-color: $first-place-blue;
    padding: 20px 32px 18px 32px;
    margin-top: 18px;
    border-radius: 10px;

    &:before {
      content: url('../../../assets/create-account/pop_up_pointer.svg');
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
    }

    .password-check {
      display: flex;
      margin: 4px 0;

      .icon-container {
        width: 24px;
        height: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;

        .icon {
          &.invalid {
            background-color: white;
            border-radius: 50%;
            width: 8px;
            height: 8px;
          }

          &.valid {
            background-image: url('../../../assets/icon/tick.svg');
            width: 16px;
            height: 12px;
          }
        }
      }

      p {
        color: white;
      }
    }
  }
}
form {
  width: 100%;
  ion-input {
    border-radius: 4px;
    --background: #ffffff;
    border: none;
    --icon-color: $night-time-blue;
    --padding-start: 23px;
    --padding-top: 12px;
    --padding-end: 46px;
    --padding-bottom: 12px;
    width: 100%;
  }
}


p {
  &.error {
    margin-top: 8px;
  }
}
