
@import "../../../theme/colours.scss";

ion-content {
  --background: white;
}
.edit-box{
  height: 80vh;
  .meal-row {
    margin-bottom: 24px;
    .meal-ctas{
      width: 100%;
    }
    .small-cta {
      width: 87px;
      margin: 4px;
      display: inline-block;
      &:last-child{
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.close-edit {
  width: 100%;
  position: fixed;
  background-color: $white-teeth;
  bottom: 0;
  padding: 16px 24px 24px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.07);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .half-cta{
    width: calc(50% - 3.5px);
    display: inline-block;
    margin: 0 3.5px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}