$first-place-blue: #1F2E71;
$bright-eyed-blue: #CBD2F0;
$blep-pink: #FB949F;
$playtime-green: #43E5BA;
$white-teeth: #FFFFFF;
$night-time-blue: #092532;
$treat-yellow: #F7AE45;
$bright-green: #3AC9A3;
$bright-yellow: #F8B24F;
$walkies-green: #237862;
$paw-pink: #99676D;
$biscuit-yellow: #CA8B32;
$good-consistency-brown: #956420;
$good-boi-green: #35B072;
$bad-dog-red: #E54052;
$wellness-green: #257D51;
$favourite-ball-red: #CC2F3F;
$active-blue: #304CC3;
$grey-6: #F0F0F2;
$grey-5: #E3E3E5;
$grey-4: #CACACC;
$grey-3: #979899;
$grey-2: #656566;
$grey-1: #4C4C4C;