@font-face {
  font-family: 'Aeonik-Bold';
  src: url('/assets/fonts/Aeonik-Bold.eot');
  src: url('/assets/fonts/Aeonik-Bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Aeonik-Bold.svg#Aeonik-Bold') format('svg'),
  url('/assets/fonts/Aeonik-Bold.ttf') format('truetype'),
  url('/assets/fonts/Aeonik-Bold.woff') format('woff'),
  url('/assets/fonts/Aeonik-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik-Medium';
  src: url('/assets/fonts/Aeonik-Medium.eot');
  src: url('/assets/fonts/Aeonik-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Aeonik-Medium.svg#Aeonik-Medium') format('svg'),
  url('/assets/fonts/Aeonik-Medium.ttf') format('truetype'),
  url('/assets/fonts/Aeonik-Medium.woff') format('woff'),
  url('/assets/fonts/Aeonik-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Aeonik-Regular';
  src: url('/assets/fonts/Aeonik-Regular.eot');
  src: url('/assets/fonts/Aeonik-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Aeonik-Regular.svg#Aeonik-Regular') format('svg'),
  url('/assets/fonts/Aeonik-Regular.ttf') format('truetype'),
  url('/assets/fonts/Aeonik-Regular.woff') format('woff'),
  url('/assets/fonts/Aeonik-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


