@import "../../../theme/colours.scss";

.inner {
  &.empty {
    background-color: transparent;
    .border-bg {
      opacity: 1;
    }
    .tile-container .data {
      color: $grey-2;
    }
  }
  text-align: center;
  position: relative;
  background-color: white;
  border-radius: 10px;
  .border-bg {
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .tile-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
  }
  p {
    font-family: 'Aeonik-Bold';
  }
  .title {
    padding-top: 4px;
    color: $first-place-blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 7px;
    font-size: 10px;
    font-size: 1rem;
  }
  .data {
    color: $night-time-blue;
  }
}