<ion-content>
  <div class="back-button">
    <app-back-cta (click)="goBack()"></app-back-cta>
  </div>
  <app-homepage-header
    type="secondary"
    page="Password reset"
  ></app-homepage-header>
  <section>
    <ng-container *ngIf="!codeConfirmed">
      <label>ENTER CODE</label>
      <form [formGroup]="resetCode" (ngSubmit)="submitCode()">
        <ion-input
          id="password-code-reset"
          name="password-code"
          formControlName="code"
          type="number"
          [class.error]="resetCode.get('code').invalid && resetCode.get('code').touched && !resetCode.get('code').hasError('required')"
          [class.success]="resetCode.get('code').valid"
        ></ion-input>
        <p
          *ngIf="
            resetCode.get('code').invalid &&
            resetCode.get('code').touched &&
            !resetCode.get('code').hasError('required')
          "
          class="error xsmall"
        >Your code should consist of 8 numbers only.</p>
        <p
          *ngIf="invalidCode"          
          class="error xsmall"
        >Invalid code. Please check your email and try again.</p>
        <p>
        <div
        class="cta-container"
        [class.disabled]="!resetCode.valid"
        id="password-code-cta"
      >
        <app-cta
          type="primary"
          text="Confirm code"
          [disabled]="!resetCode.valid"
          [isSubmit]="true"
        ></app-cta>
      </div>
      </form>
  
  
      <p>
        We need to verify your identity before you can change your password.
        <br />
        <br />
        We’ve sent an email containing your unique code to {{ email }}
      </p>
    </ng-container>
<ng-container *ngIf="codeConfirmed">
  <label>ENTER NEW PASSWORD</label>
  <form [formGroup]="resetPassword" (ngSubmit)="submitPassword()">
    <app-password-checker [form]="resetPassword"></app-password-checker>
    <div
    class="cta-container"
    [class.disabled]="!resetPassword.valid"
    id="password-reset-cta"
  >
    <app-cta
      type="primary"
      text="Save"
      [disabled]="!resetPassword.valid"
      [isSubmit]="true"
    ></app-cta>
  </div>
</form>
</ng-container>
  </section>
</ion-content>
